max-visible=5
sort=-time
layer=overlay
anchor=top-right
font='JetBrainsMono Nerd Font 12
background-color=#${theme_color_bgdefault}
text-color=#${theme_color_default}
margin=16
padding=16
border-color=#${theme_color_highlight}
border-radius=0
border-size=2
default-timeout=7000
width=460
icons=1
