[submodule "syncat/style"]
	path = syncat/style
	url = git@github.com:foxfriends/syncat-themes.git
[submodule "kak/plugins/plug.kak"]
	path = kak/plugins/plug.kak
	url = git@github.com:andreyorst/plug.kak
