* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'JetBrainsMono Nerd Font', mono;
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(40, 44, 52, 0.8);
    color: #abb2bf;
}

#workspaces button {
    padding: 4px 8px;
    margin: 0 4px;
    color: #abb2bf;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -2px transparent;
}

#workspaces button:hover {
    background: unset;
    box-shadow: unset;
    text-shadow: unset;
}

#custom-launcher:hover,
#custom-launcher:active,
#workspaces button:hover,
#workspaces button:active {
    background-color: rgba(40, 44, 52, 0.5);
}

#workspaces button:hover,
#workspaces button:active {
    box-shadow: inset 0 -2px rgba(171, 178, 191, 0.75);
}

#workspaces button.focused {
    box-shadow: inset 0 -2px rgba(171, 178, 191, 1);
}

#workspaces button.urgent {
    background-color: #e06c75;
}

#mode {}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#window,
#custom-repr {
    padding: 0 16px;
}

#workspaces {
    padding-right: 16px;
}

#clock {
    color: #abb2bf;
}

#cpu,
#custom-repr,
#pulseaudio {
    border-right: 1px solid rgba(171, 178, 191, 0.5);
}

#memory,
#pulseaudio {
    border-left: 1px solid rgba(171, 178, 191, 0.5);
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}
