[metadata]
name = "text"
description = "A channel to find and select text from files"
requirements = ["rg", "syncat"]

[source]
command = "rg . --no-heading --line-number --colors 'match:fg:white' --colors 'path:fg:blue' --color=always"
ansi = true
output = "{strip_ansi|split:\\::..2}"

[preview]
command = "syncat -n '{strip_ansi|split:\\::0}'"

[ui]
preview_panel = { header = '{strip_ansi|split:\::..2}' }
